@model DL.SCA.Web.AppB.ViewComponents.Models.SiteHeaderViewModel

<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="home" asp-action="index">
            Web App B
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="javascript:document.getElementById('form-logout').submit()">
                        Hello, @Model.LoggedInUserDisplayName
                    </a>
                </li>
            </ul>
            <form id="form-logout" asp-area="" asp-controller="account" asp-action="logout" method="post" class="d-none"></form>
        </div>
    </div>
</nav>